.carousel-buyon{
    padding-top: 3rem;
    background-color:#E2E2E2
}


.buyon-caption{
    background-color: rgba(0, 0, 0, 0.368);
}  

.byon-h3{
    font-size: 2rem;
    font-weight: bolder;
}

.buyon-par{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(152, 24, 10);
}

.bob-image{
    width: 100%;        
    height: 250px !important;     
    object-fit: cover;
}

.bob-title{
    color: rgb(55, 52, 126) !important;
}

.bob-par{
    color: rgb(7, 125, 129);
}


/*! IN-FLIGHT */

.inflight-h1{
    text-align: center;
    font-size: 3.5rem !important;
    color: #9c370c !important;
}

.inflight-par{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #1b6035;
}

.about-par{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #9a2525;
}

.hizmet-h2{
    text-align: center;
    font-size: 3rem !important;
    color: #3b58a8 !important;
}

.hizmet-kart{
    border: none !important;
    
}

.hizmet-kart:hover{
   opacity: 0.5;
}

.hizmet-kart-baslik{
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: #3b58a8 !important;
}

.hizmet-kart-text{
    font-size: 1.2rem !important;
    color: rgb(12, 92, 12);
}

.hizmet-kart-buton{
    background-color: #9c370c !important;

}