*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}


/*! SIKÇA SORULAN SORULAR */



.sorular-baslik{
    color: orangered;
    font-weight: bold;
}

.soru-cont{
    padding: 0;
}

.kart-baslik{
    font-weight: bold;
    font-size: 1.2rem !important;

}

.icon-btn{
    color: orangered !important;
    font-size: 2rem;
}

/*! REFERANSLARIMIZ */

.ref{
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
   
}

.ref-card{
    border: 2px solid rgba(128, 128, 128, 0.373);
    opacity: 0.5;
}

.ref-card:hover{
    opacity: 1;
}



/*! SİZE NASIL YARDIMCI OLABİLİRİZ? */

.i-form h1{
    color:orangered !important;
}

.i-button{
    width: 100%;
    background: orangered!important;
    font-size: 1.2rem !important;
    font-weight: bolder !important;
}


/*! HAKKIMIZDA */
.kkartal{
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kartal-img{
    width: 200px !important;
    height: 200px !important;
   
}

.ekip-img{
    max-width: 150px;
}