*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}


/*! SIKÇA SORULAN SORULAR */

.soru-ana{
    background-color: rgba(245, 225, 218, 0.693) !important;
}

.sorular-baslik{
    color: brown;
    font-weight: bold;
}

.soru-cont{
    padding: 0;
}

.kart-baslik{
    font-weight: bold;
    font-size: 1.2rem !important;

}

.icon-btn{
    color: brown !important;
    font-size: 2rem;
}

/*! REFERANSLARIMIZ */

.ref{
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
   
}

.ref-card{
    border: 2px solid rgba(128, 128, 128, 0.373);
    opacity: 0.5;
}

.ref-card:hover{
    opacity: 1;
}
