*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Genel Düzenlemeler */
.tek-ana {
    max-height: 50vh;
  }
  
  .carousel-item-custom {
    max-width: 100%;
  }
  
  /* Carousel image düzenlemesi */
  .carousel-image-container {
    width: 100%;
    text-align: center;
  }
  
  .carousel-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  /* Carousel kart düzeni */
  .carousel-card {
    background-color: #f8f9fa;
    border: 5px solid #0077A2;
    padding: 2rem;
  }
  
  .carousel-card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .carousel-card-description {
    padding-top: 1rem;
    font-size: 1rem;
    color: #333;
  }
  
  /* Indicators container */
  .carousel-indicators-custom {
    margin-top: 2rem;
  }
  
  .indicator-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator-image.active {
    border: 2px solid #007bff;
  }
  
  /* Medya Sorguları */
  @media (max-width: 768px) {
    .tek-ana {
      max-height: none;
    }
  
    .carousel-image {
      height: 150px;
      object-fit: contain;
    }
  
    .carousel-card {
      padding: 1rem;
    }
  
    .indicator-image {
      width: 40px;
      height: 40px;
    }
  }
  
  

.wt-baslik{
    color: #b12b09d2!important;
}

.lead{
    color: #0077A2;
    font-size: 40px !important;
}
.web-yazilim-img{
    width: 150vh;
    max-height: 60vh;
    margin-top: 3rem;
    box-shadow: #4d1709 0px 10px 15px;
 
}



.web-teknoloji-container{
    width: 70%;
 height:50%;
}
.wt-teknoloji{
    color: #932e15;
    font-size: 3rem;
    margin-bottom: 2rem;
}


/*! MOBİL */

.mobil-giris-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
    padding: 2rem;
    max-height: 50vh;
}
.mobil-giris-row {
 
    display: flex;
    align-items: center; /* Dikeyde ortalar */
    justify-content: space-between; /* İki kolon arasına eşit boşluk bırakır */
    height: 100%; /* Yüksekliği ayarlamak için gerekli */
  }
  
.mobil-giris-cont-bas{

color: #c23411 !important;
    
}

.mobil-giris-nav{
    font-weight: bold;
    color: #626668 !important;
    border: 2px solid #7a7e7f !important;
 
    padding: 0.3rem;
    border-radius: 20px;
}


.first-img-text{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    max-height: 90%;
   display: flex;

}

.first-img{  
max-height: 600px !important;
}


.first-text h2{
    color:#ae4227;
}

.hizmet-bas{
    color:#ae4227;

} 

#ios{
    background-image: url(../assets/bg-ios.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top:3rem ;
    opacity: 0.7;
}


#android{
    background-image: url(../assets/bg-android.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 3rem;

}

#cross-platform{
  background-image: url(../assets/bg-capraz.jpg);

  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 3rem;

}

#watch{
    background-image: url(../assets/bg-saat.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 3rem;


}








/*! WEB TASARIM */
  
.nasil-img{
  max-width: 150px !important;

}





