*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tek-ana {
    max-height: 50vh;
  }
  
  .carousel-item-custom {
    max-width: 100%;
  }
  

  .carousel-image-container {
    width: 100%;
    text-align: center;
  }
  
  .carousel-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  

  .carousel-card {
    background-color: #f8f9fa;
    border: 5px solid #0077A2;
    padding: 2rem;
  }
  
  .carousel-card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .carousel-card-description {
    padding-top: 1rem;
    font-size: 1rem;
    color: #333;
  }
  

  .carousel-indicators-custom {
    margin-top: 2rem;
  }
  
  .indicator-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator-image.active {
    border: 2px solid #007bff;
  }

  @media (max-width: 768px) {
    .tek-ana {
      max-height: none;
    }
  
    .carousel-image {
      height: 150px;
      object-fit: contain;
    }
  
    .carousel-card {
      padding: 1rem;
    }
  
    .indicator-image {
      width: 40px;
      height: 40px;
    }
  }
  
  /*! WEB YAZILIM */

.wy-baslik{
    color: #b12b09d2!important;
    text-align: center;
    padding: 2rem;
}

.web-yazilim-img{
    
  width: 100%;
  max-height: 70vh;
  padding: 2rem;
  margin-bottom: 2rem;
}

.lead{
    color: #0077A2;
    font-size: 40px !important;
    text-align: center;
    padding: 3rem;
}

.wy-bilesenler{
  color: #932e15;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.wy-card-title{
  color: #0077A2 !important;
}

.wy-card-text{
  color: #31613f;
}
.wy-card-buton{
  background-color: #932e15 !important;
  color: whitesmoke !important;
}

.web-teknoloji-container{
 width: 70%;
 height:50%;
}
.wt-teknoloji{
    color: #932e15;
    font-size: 3rem;
    margin-bottom: 2rem;
}


/*! MOBİL */

.mobil-giris-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
    padding: 2rem;
    max-height: 50vh;
}
.mobil-giris-row {
 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 100%; 
  }
  
.mobil-giris-cont-bas{

color: #c23411 !important;
    
}

.mobil-giris-nav{
    font-weight: bold;
    color: #626668 !important;
    border: 2px solid #7a7e7f !important;
 
    padding: 0.3rem;
    border-radius: 20px;
}


.first-img-text{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    max-height: 90%;
   display: flex;

}

.first-img{  
max-height: 600px !important;
}


.first-text h2{
    color:#ae4227;
}

.hizmet-bas{
    color:#ae4227;
    font-size: 3rem !important;
    font-weight: bold;

} 

.buton-detaylar{
  background-color: #932e15 !important;
}
#ios{
    background-image: url(../assets/bg-ios.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top:3rem ;
    opacity: 0.7;
}


#android{
    background-image: url(../assets/bg-android.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 3rem;

}

#cross-platform{
  background-image: url(../assets/bg-capraz.jpg);

  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 3rem;

}

#watch{
    background-image: url(../assets/bg-saat.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 3rem;


}

#uiux{
background-image: url(../assets/bg-uı.jpg);
background-size: cover;
background-position: center;
color: white;
padding-top: 3rem;

}

.referans{
  margin: 2rem;
  display: flex; 
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  cursor: pointer;
}
.referans-card{
  opacity: 0.5;
}

.referans-card:hover{
  opacity: 1;
}


/*! UI & UX */


.ui-giris-img{
  width: 100%;

}

.ui-baslik{
  color: #9b341a !important;
  text-align: center;
  margin: 1.5rem;
  font-size: 3rem !important;
  font-weight: bold !important;
  
}

.guncel-baslik{
  color: #0077A2;
  font-weight: bold;
}

.alt-baslik{
  color: #0077A2 !important;
  font-weight: bold;
}

.surec-ul{
  color: #31613f;

}

/*! WEB TASARIM */
  
.nasil-img{
  max-width: 150px !important;

}

.tasarim-baslik{
  color: #0077A2 !important;
}


.tasarim-par{

  color: #ae4227;

}

.tasarim-baslikk{
  color: #932e15;
  margin-bottom: 3rem !important;
}

.neler-ul{
  color: #0077A2;
}


/*! WMS Depo Yönetim Sistemleri */

.wms-title{
  color: #932e15 !important;
  font-size: 3rem !important;
  padding: 2rem;
  text-align: center;
}

.wms-par{
  text-align: center;
  padding: 3rem;
  font-size: 2rem !important;
  color: #7a7e7f;
}

.wms-tablo{
  width: 90%;
}



